<%= case @page_mode do %>
  <% :platform_marketing -> %>
    <.platform_marketing />
  <% :org_landing -> %>
    <%= if @landing_sections == [] do %>
      <.org_landing organization={@organization} />
    <% else %>
      <ViewerLayout.viewer_layout
        organization={@organization}
        current_path="/"
        theme={@theme}
        flash={@flash}
      >
        <div class="sv-landing" data-test="landing-page">
          <.landing_section
            :for={section <- @landing_sections}
            section={section}
            organization={@organization}
          />
        </div>
      </ViewerLayout.viewer_layout>
    <% end %>
  <% :org_home -> %>
    <ViewerLayout.viewer_layout
      organization={@organization}
      current_viewer={@current_viewer}
      impersonating_viewer={@impersonating_viewer}
      current_path="/"
      theme={@theme}
      flash={@flash}
    >
      <.viewer_home_body
        hero_slides={@hero_slides}
        hero_auto_advance_ms={@hero_auto_advance_ms}
        rows={@rows}
        current_viewer={@current_viewer}
        favorited_ids={@favorited_ids}
        watchlisted_ids={@watchlisted_ids}
        queued_ids={@queued_ids}
      />
    </ViewerLayout.viewer_layout>
<% end %>
